<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI"
                 path="*"
                 verb="*"
                 modules="FastCgiModule"
                 scriptProcessor="C:\\Users\\jeff\\AppData\\Local\\Microsoft\\WindowsApps\\python3.exe|C:\\Users\\jeff\\AppData\\Local\\Microsoft\\WindowsApps\\Lib\\site-packages\\wfastcgi.py"
                 resourceType="Unspecified"
                 requireAccess="Script" />
        </handlers>
    </system.webServer>
    <appSettings>
        <!-- Required settings -->
        <add key="PYTHONPATH" value="C:\\inetpub\\wwwroot\\webscraper" />
        <add key="WSGI_HANDLER" value="main.app" />
        <add key="WSGI_LOG" value="C:\\inetpub\\wwwroot\\webscraper\\app.log" />
        
        <!-- Environment variable for the webhook key -->
        <add key="WEBHOOK_KEY" value="My.pword.2024$$" />
    </appSettings>
</configuration>
